
@tailwind base;
@tailwind components;
@tailwind utilities;
.p-carousel-next{
    
    position: absolute;
    right: 40px ;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

}
.p-carousel-prev{   
    
    position: absolute;
    left: 40px ;
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.p-carousel-item{
   position: relative;
}
@layer components {
    .card-product{
        @apply
     text-gray-700
        w-60 p-2 bg-slate-100
        rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl mt-4 mb-4 lg:mt-0
    }
    .badge{
        @apply
        px-3 py-1 rounded-full text-xs bg-gray-100
    }
    
  
}

.p-rating-star .p-rating-icon {
    color: yellow;
  }
  .input-field {
    @apply w-full border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500;
  }
  
  .btn-primary {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 cursor-pointer;
  }
.bgadmin{
   @apply bg-gray-700
}

@font-face {
  font-family: 'Roboto1';
  src: url('../assets/Font/Roboto-Black.woff') format('woff2'),
      url('../assets/Font/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-BlackItalic.woff2') format('woff2'),
      url('../assets/Font/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-Black.woff2') format('woff2'),
      url('../assets/Font/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-Light.woff2') format('woff2'),
      url('../assets/Font/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-BoldItalic.woff2') format('woff2'),
      url('../assets/Font/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto2';
  src: url('../assets/Font/Roboto-Italic.woff2') format('woff2'),
      url('../assets/Font/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-LightItalic.woff2') format('woff2'),
      url('../assets/Font/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-Medium.woff2') format('woff2'),
      url('../assets/Font/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-MediumItalic.woff2') format('woff2'),
      url('../assets/Font/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-ThinItalic.woff2') format('woff2'),
      url('../assets/Font/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-Regular.woff2') format('woff2'),
      url('../assets/Font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Font/Roboto-Thin.woff2') format('woff2'),
      url('../assets/Font/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans ExtraCondensed';
  src: url('../assets/Font/NotoSansExtraCondensed-ExtraBoldItalic.woff2') format('woff2'),
  url('../assets/Font/NotoSansExtraCondensed-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


